<div class="card flex justify-center" style="width: 70vw">
  <div style="text-align: center" *ngIf="isCalculating">
    <p-progress-spinner ariaLabel="isCalculating" />
    <h1>Calculating!</h1>
  </div>

  <div style="text-align: center" *ngIf="successfullyCalculated !== undefined">
    <div *ngIf="successfullyCalculated">
      <h2>Estimated Salary:</h2>
      <h3>5000$</h3>
      <p-button
        [style]="{ background: 'blue' }"
        label="Calculate Again"
        (onClick)="calculateAgain()"
        [disabled]="!canSubmit"
      />
    </div>
    <div *ngIf="!successfullyCalculated">
      <h3>Error while estimating your salary</h3>
      <p-button
        [style]="{ background: 'blue' }"
        label="Calculate Again"
        (onClick)="calculateAgain()"
        [disabled]="!canSubmit"
      />
    </div>
  </div>

  <p-stepper
    [(value)]="activeStep"
    *ngIf="!isCalculating && successfullyCalculated === undefined"
  >
    <p-step-list>
      <p-step [value]="1" class="flex flex-row flex-auto gap-2">
        <ng-template
          #content
          let-activateCallback="activateCallback"
          let-value="value"
        >
          <button
            class="bg-transparent border-0 inline-flex flex-col gap-2"
            (click)="activateCallback()"
          >
            <span
              class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
              [ngClass]="{
                'bg-primary text-primary-contrast border-primary':
                  value <= activeStep,
                'border-surface': value > activeStep
              }"
            >
              <i class="pi pi-user"></i>
            </span>
          </button>
        </ng-template>
      </p-step>

      <p-step [value]="2" class="flex flex-row flex-auto gap-2">
        <ng-template
          #content
          let-activateCallback="activateCallback"
          let-value="value"
        >
          <button
            class="bg-transparent border-0 inline-flex flex-col gap-2"
            (click)="activateCallback()"
            [disabled]="!canGoToPage2"
          >
            <span
              class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
              [ngClass]="{
                'bg-primary text-primary-contrast border-primary':
                  value <= activeStep,
                'border-surface': value > activeStep
              }"
            >
              <i class="pi pi-user-edit"></i>
            </span>
          </button>
        </ng-template>
      </p-step>

      <p-step [value]="3" class="flex flex-row flex-auto gap-2">
        <ng-template
          #content
          let-activateCallback="activateCallback"
          let-value="value"
        >
          <button
            class="bg-transparent border-0 inline-flex flex-col gap-2"
            (click)="activateCallback()"
            [disabled]="!canGoToPage3"
          >
            <span
              class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
              [ngClass]="{
                'bg-primary text-primary-contrast border-primary':
                  value <= activeStep,
                'border-surface': value > activeStep
              }"
            >
              <i class="pi pi-id-card"></i>
            </span>
          </button>
        </ng-template>
      </p-step>
    </p-step-list>

    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div
            class="flex flex-col gap-2 mx-auto"
            style="min-height: 16rem; width: 100%"
          >
            <div class="text-center mt-4 mb-4 text-xl font-semibold">
              What's your job title
            </div>
            <div class="text-center" style="width: 100%">
              <p-select
                [options]="jobs"
                optionLabel="label"
                [(ngModel)]="selectedJob"
                [filter]="true"
                filterBy="label"
                placeholder="Select a job"
              >
                <ng-template #selectedItem let-job>
                  <div class="flex">
                    <div>{{ job.label }}</div>
                  </div>
                </ng-template>
                <ng-template let-job #item>
                  <div class="flex">
                    <div>{{ job.label }}</div>
                  </div>
                </ng-template>
              </p-select>
            </div>
            <div
              class="flex pt-6 justify-end"
              style="text-align: right; margin-top: 20px"
            >
              <p-button
                label="Next"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="activateCallback(2)"
                [disabled]="!canGoToPage2"
              />
            </div>
          </div>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div
            class="flex flex-col items-center gap-4 mx-auto"
            style="min-height: 16rem; width: 100%"
          >
            <h3 class="text-center mt-4 mb-4 text-xl font-semibold">
              Additional Information
            </h3>
            <div class="text-center" style="width: 100%">
              <div style="display: flex; flex-direction: column" class="mb-4;">
                <label for="age">Age:</label>
                <p-inputnumber
                  [(ngModel)]="userAge"
                  inputId="integeronly"
                  [min]="0"
                  [max]="100"
                />
              </div>
              <div class="mb-4 mt-4">
                <h3>Skills:</h3>
                <div
                  style="
                    display: grid;
                    column-gap: 10vw;
                    row-gap: 20px;
                    grid-template-columns: auto auto;
                  "
                >
                  <div class="flex items-center gap-2">
                    <label class="mr-2">Python:</label>
                    <p-checkbox
                      [(ngModel)]="skills.python"
                      binary="true"
                      label="Python"
                    ></p-checkbox>
                  </div>
                  <div class="flex items-center gap-2">
                    <label class="mr-2">R:</label>
                    <p-checkbox
                      [(ngModel)]="skills.r"
                      binary="true"
                      label="R"
                    ></p-checkbox>
                  </div>
                  <div class="flex items-center gap-2">
                    <label class="mr-2">AWS:</label>
                    <p-checkbox
                      [(ngModel)]="skills.aws"
                      binary="true"
                      label="AWS"
                    ></p-checkbox>
                  </div>
                  <div class="flex items-center gap-2">
                    <label class="mr-2">Excel:</label>
                    <p-checkbox
                      [(ngModel)]="skills.excel"
                      binary="true"
                      label="Excel"
                    ></p-checkbox>
                  </div>
                  <div class="flex items-center gap-2">
                    <label class="mr-2">Spark:</label>
                    <p-checkbox
                      [(ngModel)]="skills.spark"
                      binary="true"
                      label="Spark"
                    ></p-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="pt-6"
              style="
                text-align: right;
                margin-top: 20px;
                justify-content: space-between;
                display: flex;
              "
            >
              <p-button
                label="Previous"
                icon="pi pi-arrow-left"
                iconPos="left"
                (onClick)="activateCallback(1)"
              />
              <p-button
                label="Next"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="activateCallback(3)"
                [disabled]="!canGoToPage3"
              />
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div
            class="flex flex-col items-center gap-4 mx-auto"
            style="min-height: 16rem; width: 100%"
          >
            <div class="text-center mt-4 mb-4 text-xl font-semibold">
              Company Information
            </div>
            <div class="text-center" style="width: 100%">
              <div style="margin-top: 10px" class="mb-4 mt-4">
                <label>Location:</label>
                <p-select
                  [options]="locations"
                  optionLabel="label"
                  [(ngModel)]="selectedLocation"
                  [filter]="true"
                  filterBy="label"
                  placeholder="Select a location"
                ></p-select>
              </div>
              <div style="margin-top: 10px" class="mb-4 mt-4">
                <label>Company Size:</label>
                <p-select
                  [options]="sizes"
                  optionLabel="label"
                  [(ngModel)]="selectedSize"
                  [filter]="true"
                  filterBy="label"
                  placeholder="Select a company size"
                ></p-select>
              </div>
              <div style="margin-top: 10px" class="mb-4 mt-4">
                <label>Type of Ownership:</label>
                <p-select
                  [options]="ownershipTypes"
                  optionLabel="label"
                  [(ngModel)]="selectedOwnershipType"
                  [filter]="true"
                  filterBy="label"
                  placeholder="Select a type of ownership"
                ></p-select>
              </div>
              <div style="margin-top: 10px" class="mb-4 mt-4">
                <label>Industry:</label>
                <p-select
                  [options]="industries"
                  optionLabel="label"
                  [(ngModel)]="selectedIndustry"
                  [filter]="true"
                  filterBy="label"
                  placeholder="Select an industry"
                ></p-select>
              </div>
              <div style="margin-top: 10px" class="mb-4 mt-4">
                <label>Sector:</label>
                <p-select
                  [options]="sectors"
                  optionLabel="label"
                  [(ngModel)]="selectedSector"
                  [filter]="true"
                  filterBy="label"
                  placeholder="Select a sector"
                ></p-select>
              </div>
              <div style="margin-top: 10px" class="mb-4">
                <label>Is Company in Same State as You:</label>
                <p-checkbox
                  [(ngModel)]="sameState"
                  binary="true"
                  label="Same State"
                ></p-checkbox>
              </div>
            </div>
            <div
              class="pt-6"
              style="
                text-align: right;
                margin-top: 20px;
                justify-content: space-between;
                display: flex;
              "
            >
              <p-button
                label="Previous"
                icon="pi pi-arrow-left"
                iconPos="left"
                (onClick)="activateCallback(2)"
              />
              <p-button
                [style]="{ background: 'blue' }"
                label="Finish"
                (onClick)="onFinishStepper()"
                [disabled]="!canSubmit"
                (onClick)="onSubmit()"
              />
            </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>
